<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name ="SODB" connectionString="Server = LOIS-TOSHIBA; Database = ShuttleOffDB; Integrated Security = SSPI"/>
    <add name ="Almer_SODB" connectionString="Server = DESKTOP-GL0CD5I; Database = ShuttleOffDB; Integrated Security = SSPI"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ShuttleOffServiceAjax.Service1">
        <endpoint address="" behaviorConfiguration="ShuttleOffServiceAjax.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="ShuttleOffServiceAjax.Service1" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ShuttleOffServiceAjax.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
