/* Color variables */
:root {
    --primary-color: #006666;
    --secondary-color: #f0f7f7;
}
/* Padding and box reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Setting default font */
html, body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f7f7;
    display: flex;
    flex-direction: column;
}

.content {
    position: relative;
    height: 100%;
    overflow: hidden;
}
/* Header edits */
.app-header {
    background-color: var(--primary-color);
    box-shadow: 3px 3px 10px #888;
    height: 8%;
}

    /* Centralizing content container */
    .app-header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 0.5rem 0 0.5rem;
        overflow: none;
    }

    /* header logo edits */
    .app-header .logo {
        width: 2.8rem;
    }

    .app-header > .container > i {
        color: whitesmoke;
    }
/*Side navigation bar*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 10;
}

    .sidenav a {
        padding: 0.4rem;
        text-decoration: none;
        font-size: 1.5rem;
        color: whitesmoke;
        display: flex;
        justify-content: flex-start;
        margin-left: 0.5rem;
        width: 90%;
        /* transition: 0.3s; */
    }

    .sidenav i {
        padding-right: 2rem;
    }

    .sidenav a span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .sidenav a span::after {
            font-size: 25px;
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .sidenav a:hover span {
        padding-right: 25px;
    }

        .sidenav a:hover span:after {
            opacity: 1;
            right: 0;
        }

    .sidenav .closebtn {
        justify-content: flex-end;
        top: 0;
        right: 25px;
        font-size: 36px;
        transition: 0.5s;
    }

        .sidenav .closebtn:hover {
            opacity: 0.6;
        }

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.content_wrapper {
    position: absolute;
    top: 8%;
    left: 0;
    height: 92%;
    width: 100%;
    transition: 0.5s;
}

.dashboard-container {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Slideshow */
.slideshow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(129, 184, 151, 0.52), rgba(10, 107, 62, 0.73));
}

.slideshow-item {
    width: 100%;
    height: 100%;
}

    .slideshow-item img {
        width: 100%;
        height: 100%;
    }

/*Slideshow Animation*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 6;
    animation-name: fade;
    animation-duration: 6s;
}

@-webkit-keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: .6
    }
}

@keyframes fade {
    from {
        opacity: .2
    }

    to {
        opacity: .6
    }
}

.logo-mid {
    color: snow;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s;
}

    .logo-mid i {
        font-size: 5rem;
    }

    .logo-mid h2 {
        text-align: center;
    }

/* disp band */
.disp-band {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 0.4rem 0.8rem 0.4rem;
    max-width: 600px;
}

.disp-band-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time-disp {
    width: 15%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    #time-disp h3, #time-disp h4 {
        font-size: 0.8rem
    }

#cal-disp {
    width: 15%;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

    #cal-disp h3, #cal-disp h4 {
        font-size: 0.8rem
    }

.txtBox-container {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid whitesmoke;
    border-radius: 40px;
    margin: 0 0.4rem 0 0.4rem;
}

    .txtBox-container i {
        padding: 0.2rem;
        margin-right: .6rem;
        color: whitesmoke;
    }

#txtBox_input {
    width: 80%;
    font-size: 0.8rem;
    background: transparent;
    border: none;
    color: whitesmoke;
    outline: none;
    padding: 0 0.4rem 0 0.4rem;
    cursor: "pointer";
}

    #txtBox_input::placeholder {
        color: whitesmoke;
    }

/* proceed navigation*/
.proceed_nav {
    position: absolute;
    top: 8%;
    width: 0;
    height: 92%;
    transition: .7s;
    overflow: hidden;
}

.proceed_nav_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    top: 0;
}

.proc_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background-color: var(--primary-color);
}

.proc_header_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.9rem 0.3rem 0.9rem;
    color: whitesmoke;
}

    .proc_header_container h2 {
        font-size: 1rem;
    }

    .proc_header_container i {
        font-size: 1rem;
        cursor: pointer;
    }

.proc_nav_content {
    position: absolute;
    top: 5%;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.proc_nav_content_wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    color: var(--primary-color);
}

#proc_nav_content_wrapper #No_Results {
    padding: 10px;
}

.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px #ccc;
    background-image: linear-gradient(to bottom, rgba(129, 184, 151, 0.52), rgba(10, 107, 62, 0.73));
    background-size: cover;
    color: white;
    position: relative;
    outline: none;
    cursor: pointer;
}

    .place img {
        opacity: 0.4;
        height: 20vh;
        width: 100%;
    }

    .place h2 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
    }

    .place h3 {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px
    }

    .place h4 {
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px;
    }

    .place h6 {
        position: absolute;
        top: 90px;
        left: 0;
        padding: 10px
    }

.place-star-container {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 10px 10px 0;
}

.place-star-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .place-star-wrap i {
        padding: 0 0.17rem 0 0.17rem;
    }

/*Filter side bar*/
.filter_sidebar {
    position: absolute;
    z-index: 1;
    top: 8%;
    width: 0;
    height: 92%;
    transition: .7s;
    overflow: hidden;
}

.filter_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

.filter_header {
    position: absolute;
    top: 0;
    height: 5%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_header_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem 0 0.5rem;
    color: whitesmoke;
}

    .filter_header_container h3 {
        cursor: pointer;
        transition: 0.4s;
    }

        .filter_header_container h3:hover {
            opacity: 0.6;
        }

.filter_content {
    position: absolute;
    top: 5%;
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter_content_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sortBox-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

.sortBox-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.sortBox-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
}

.sortBox-header-wrapper {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

    .sortBox-header-wrapper h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
    }

.sortBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    top: 50%;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.sortBox-location-wrap {
    position: absolute;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sortBox-location {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-right: 2px solid var(--primary-color);
}

.sortBox-radioBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.333%;
    color: var(--primary-color);
}

    .sortBox-radioBtn input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.radioBtn-item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    padding: 0.3rem;
}

    .radioBtn-item-wrap h3 {
        font-size: 1rem;
    }

.sortBox-radioBtn i {
    font-size: 1;
}

.sortBox-radioBtn > input[type = 'radio'] + .radioBtn-item-wrap {
    background-color: none;
}

.sortBox-radioBtn > input[type = 'radio']:checked + .radioBtn-item-wrap {
    background-color: #88d3ac;
}

.sortBox-rating {
    position: absolute;
    top: 0;
    left: 75%;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.sortBox-rating-wrap {
    cursor: pointer;
}

    .sortBox-rating-wrap i {
        font-size: 1rem;
    }

    .sortBox-rating-wrap h3 {
        font-size: 1rem;
    }

.filterBox-container {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 20%;
}

.filterBox-container-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterBox-header {
    position: absolute;
    top: 0;
    height: 10%;
    width: 100%;
}

.filterBox-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

    .filterBox-header-container h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
    }

.filterBox {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

.filterBox-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.playerAmount {
    position: absolute;
    width: 100%;
    top: 0;
    height: 15%;
}

.playerAmount-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.playerAmount-radioBtn {
    position: relative;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .playerAmount-radioBtn input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

.player-amount-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--primary-color);
    transition: 0.3s;
}

    .player-amount-wrap i {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }

    .player-amount-wrap h3 {
        font-size: 1rem;
    }

.playerAmount-radioBtn > input + .player-amount-wrap {
    background-color: var(--secondary-color);
}

.playerAmount-radioBtn > input:checked + .player-amount-wrap {
    background-color: #88d3ac;
}

.reset-btn {
    position: absolute;
    top: 90%;
    width: 100%;
    height: 10%;
}

.reset-btn-wrap {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn-wrap {
    color: var(--primary-color);
    font-size: 1rem;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}


/*Pop up modal*/
.modal-result-pop-up {
    position: absolute;
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.329);
    opacity: 0;
    transition: 0.4s;
}

.mod-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #006666;
    flex-direction: column;
    max-width: 450px;
}

.mod-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%; /*Header space*/
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

    .mod-header h3 {
        font-size: 1.2rem;
        color: whitesmoke;
    }

.mod-content {
    position: absolute;
    top: 10%; /*Header space*/
    left: 0;
    width: 100%;
    height: 90%; /*content space*/
    background-color: var(--secondary-color);
}

    .mod-content .picture {
        position: absolute;
        width: 100%;
        height: 40%; /*picture space*/
        background-color: beige;
    }

.picture_container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(129, 184, 151, 0.52), rgba(10, 107, 62, 0.73));
}

.mod-content .picture img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.mod-det {
    position: absolute;
    top: 40%; /*picture space*/
    width: 100%;
    height: 45%; /*Detail space*/
    background: var(--secondary-color);
}

.mod-det-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.details-header {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

    .details-header > h1 {
        color: var(--primary-color);
        padding-left: 1rem;
    }

.details-content {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.details-content-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.details {
    display: block;
    width: 100%;
    padding: 0 1rem 0.5rem 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.details h2 {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0.22rem;
    width: 60%;
}

.details > input {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

.details p {
    color: black;
    font-size: 0.9rem;
    text-align: justify;
}

.mod-button {
    position: absolute;
    top: 85%;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

    .mod-button .mod-btn-container {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-height: 70px;
    }

.btn_create_res {
    display: flex;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #19af64;
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

    .btn_create_res i {
        font-size: 1.5rem;
    }

    .btn_create_res:hover {
        background-color: #18c26d;
    }

    .btn_create_res:active {
        background-color: #1cdf7d;
    }

.btn_cancel_res {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 44, 44);
    color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    margin: 0.7rem;
    transition: 0.5s;
    cursor: pointer;
}

    .btn_cancel_res i {
        font-size: 1.5rem;
    }

    .btn_cancel_res:hover {
        background-color: rgb(255, 31, 31);
    }

    .btn_cancel_res:active {
        background-color: rgb(255, 20, 20);
    }

.btn_review {
    width: 20%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    cursor: pointer;
    transition: .5s;
}

    .btn_review:hover {
        background-color: #c5dfdf;
    }

    .btn_review:active {
        background-color: #aed4d4;
    }

    .btn_review p {
        font-size: 0.7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 0.3rem;
        margin-right: 0.3rem;
    }

    .btn_review i {
        font-size: 1.5rem;
    }

.review-container {
    position: absolute;
    background-color: var(--secondary-color);
    top: 40%;
    height: 45%;
    width: 0%;
    z-index: 2;
    overflow: scroll;
    transition: 0.4s;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

    .review-header h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--primary-color);
        font-size: 1.2rem;
    }

    .review-header p {
        font-size: 0.9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.review-wrapper {
    position: relative;
}

.review-content {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.star-wrap i {
    font-size: 0.6rem;
    margin-right: 0.24rem;
    color: var(--primary-color);
}

.feedback-container {
    margin-right: 3rem;
}

    .feedback-container h3 {
        font-size: 0.9rem;
    }

    .feedback-container h5 {
        font-size: 0.85rem;
    }

    .feedback-container p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        font-size: 0.78rem;
        color: #066b6b;
    }
